# Global options
{
	email edspikeonline@gmail.com
}


# Published websites (wildcard subdomains)
*.venturemate.net {
	route {
		reverse_proxy 127.0.0.1:8080
	}
}

# Main app
venturemate.net {
	@callback path /auth/callback*
	redir @callback /vm{uri} 301

	route /api/* {
		reverse_proxy 127.0.0.1:8080
	}

	route /auth/* {
		reverse_proxy 127.0.0.1:8080
	}

	route /graphql {
		reverse_proxy 127.0.0.1:8080
	}

	route {
		reverse_proxy 127.0.0.1:5173
	}

	tls edspikeonline@gmail.com
}
