# Local API proxies
VITE_GRAPHQL_PROXY_URL=http://localhost:8080
VITE_AUTH_PROXY_URL=http://localhost:8081

# Public business website hosting
VITE_PUBLIC_SITE_BASE_DOMAIN=venturemate.net
VITE_PUBLIC_SITE_CNAME_TARGET=sites.venturemate.net
